<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/head'); %>
</head>
<body class="container">

<header>
  <%- include('../common/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h4>Flutter Second Project - Food App</h4>
    <br/>
    <!-- <img src="https://kr.object.ncloudstorage.com/node-image/test/jin_test1.jpeg" style="width: 200px;  height: 300px;">
    <img src="https://kr.object.ncloudstorage.com/node-image/test/jin_test1.jpeg" style="width: 200px;  height: 300px; margin: 50px;"> -->
  </div>
</main>

<footer>
  <%- include('../common/footer'); %>
</footer>

</body>
</html>